* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.sum-field, .diff-field, .prod-field, .quot-field,
.cartesian-trans-field, .polar-trans-field {
  background: #ddd;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}